@tailwind base;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    background: #2e158c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-right: 10px; /* Adjust the spacing between menu items */
}

.nav-link:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}



/* @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */
  
  .text {
    padding: 20px;
    width: 700px;
    /* animation: slideInFromBottom 1s ease-out; 
    animation-delay: 0.5s; */
  }
  p{
    animation: slideInFromBottom 2s ease-out; 
    animation-delay: 1s;
  }

  .heading1, .heading2{
    font-size: 30px;
    animation: slideInFromBottom 1s ease-out;
    animation-delay: 1s;
    
}

.container2 {
    /* margin: 80px; */
    
    margin-top: 111px;
    /* background-color: #dad8d8; */
    /* margin-bottom: 50px; */
}

.clip-custom-shape {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.container2 p {
    /* font-size: medium; */
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #f5f6f9;
    padding: 50px;
}



.grid-container h2 {
    /* font-size: x-large; */
    padding-bottom: 20px;
    /* margin-left: 100px; */

}
.grid-container p {
    /* font-size: medium; */
    margin-bottom: 30px;
    animation: slideInFromBottom 2s ease-out; /* Adjust the animation duration as needed */
    animation-delay: 2s; 

}



.para{
    font-size: medium;
}


.text {
    padding: 20px;
    width: 700px;
}

.text h2 {
    margin-top: 0;
}

.image img {
    max-width: 100%;
    height: auto;
}

.grid-container img {
    border-radius: 30% 70% 70% 30% / 30% 41% 59% 70%; /* Custom border radius */
    overflow: hidden;
}

.pandimg{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.pandimg h1 {
    /* font-size: 30px; */
    padding: 20px;
}

.pandimg p {
    width: 80%;
    /* font-size: medium; */
}

.pandimg img {
  border-radius: 20px;
  height: 400px;
  width: 95%;
  margin-bottom: 50px;

}

